In [41]:
import os
import pandas as pd
import swat
import sys
import fnmatch

## CONNECTION TO Cloud Analytic Services and activation of necessary CAS Actions sets

In [42]:
cashost='frasepvdmml84.aws.sas.com'
casport=5570

sess = swat.CAS(cashost, casport)
sess.loadactionset('fedsql')
sess.loadactionset('datastep')

NOTE: Added action set 'fedsql'.
NOTE: Added action set 'datastep'.

[actionset]

 'datastep'

+ Elapsed: 0.000168s, sys: 9.9e-05s, mem: 0.194mb

## STEP 0 : Get the list of filling data files located in a given directory

In [20]:
filling_data_path="/opt/poc/Renault/"
csvfilelist=fnmatch.filter(os.listdir(path=filling_data_path), 'LHA*.csv')
csvfilelist.sort()

csvfilelist

# I have launch this command to cleanse a specific file from uncomplete records : awk -F'\t' 'NF==28 {print}' infile  > newfile

['LHA-0401-0406.csv',
 'LHA-0407-0413.csv',
 'LHA-0414-0420.csv',
 'LHA-0421-0426.csv',
 'LHA-0501-0506.csv',
 'LHA-0507-0512.csv',
 'LHA-0513-0520.csv',
 'LHA-0520-0523.csv',
 'LHA-0524-0527-clean.csv',
 'LHA-0528-0601.csv',
 'LHA-0602-0605.csv',
 'LHA-0605-0610.csv']

## STEP 1 corrected : Define function in charge of importing filling data with right data types

In [21]:
def import_filling_data(filename, castabname):
    print('Uploading file : '+filename+' into cas in-memory table : '+castabname)
    sess.upload_file(filling_data_path+filename, 
                 casout=castabname, 
                 importoptions={"fileType":"csv","getNames":True, "vars":{   
                        "publication_table.inserttimestamp":{"type":"double","informat":"ANYDTDTM23.3","format":"DATETIME23.3"},
                        "publication_table.dfauai":{"type":"varchar"},
                        "publication_table.serveruai":{"type":"varchar"},
                        "publication_table.objectuai":{"type":"varchar"},
                        "publication_table.variablename":{"type":"varchar"},
                        "publication_table.sourcetimestamp":{"type":"double","informat":"ANYDTDTM23.3","format":"DATETIME23.3"},
                        "publication_table.sourcepicoseconds":{"type":"double"},
                        "publication_table.datavalue":{"type":"varchar"},
                        "publication_table.variableunit":{"type":"varchar"},
                        "publication_table.subscriptiontype":{"type":"varchar"},
                        "publication_table.dfamsgid":{"type":"double"},
                        "publication_table.servernodeid":{"type":"varchar"},
                        "publication_table.serverhashcode":{"type":"varchar"},
                        "publication_table.objecttype":{"type":"varchar"},
                        "publication_table.relativebnpath":{"type":"varchar"},
                        "publication_table.datatype":{"type":"varchar"},
                        "publication_table.arraytype":{"type":"varchar"},
                        "publication_table.statusvalue":{"type":"double"},
                        "publication_table.statusdescription":{"type":"varchar"},
                        "publication_table.statusname":{"type":"varchar"},
                        "publication_table.servertimestamp":{"type":"double","informat":"ANYDTDTM23.3","format":"DATETIME23.3"},
                        "publication_table.serverpicoseconds":{"type":"double"},
                        "publication_table.logtimestamp":{"type":"double","informat":"ANYDTDTM23.3","format":"DATETIME23.3"},
                        "publication_table.dfatimestamp":{"type":"double","informat":"ANYDTDTM23.3","format":"DATETIME23.3"},
                        "publication_table.insert_year":{"type":"double"},
                        "publication_table.insert_month":{"type":"double"},
                        "publication_table.insert_date":{"type":"double","informat":"YYMMDD10.","format":"YYMMDD10."},
                        "publication_table.sitecode":{"type":"varchar"}}})
    sess.alterTable(name=castabname, 
                          columns=[{"name":"publication_table.inserttimestamp","rename":"inserttimestamp"},
                                    {"name":"publication_table.dfauai","rename":"dfauai"},
                                    {"name":"publication_table.serveruai","rename":"serveruai"},
                                    {"name":"publication_table.objectuai","rename":"objectuai"},
                                    {"name":"publication_table.variablename","rename":"variablename"},
                                    {"name":"publication_table.sourcetimestamp","rename":"sourcetimestamp"},
                                    {"name":"publication_table.sourcepicoseconds","rename":"sourcepicoseconds"},
                                    {"name":"publication_table.datavalue","rename":"datavalue"},
                                    {"name":"publication_table.variableunit","rename":"variableunit"},
                                    {"name":"publication_table.subscriptiontype","rename":"subscriptiontype"},
                                    {"name":"publication_table.dfamsgid","rename":"dfamsgid"},
                                    {"name":"publication_table.servernodeid","rename":"servernodeid"},
                                    {"name":"publication_table.serverhashcode","rename":"serverhashcode"},
                                    {"name":"publication_table.objecttype","rename":"objecttype"},
                                    {"name":"publication_table.relativebnpath","rename":"relativebnpath"},
                                    {"name":"publication_table.datatype","rename":"datatype"},
                                    {"name":"publication_table.arraytype","rename":"arraytype"},
                                    {"name":"publication_table.statusvalue","rename":"statusvalue"},
                                    {"name":"publication_table.statusdescription","rename":"statusdescription"},
                                    {"name":"publication_table.statusname","rename":"statusname"},
                                    {"name":"publication_table.servertimestamp","rename":"servertimestamp"},
                                    {"name":"publication_table.serverpicoseconds","rename":"serverpicoseconds"},
                                    {"name":"publication_table.logtimestamp","rename":"logtimestamp"},
                                    {"name":"publication_table.dfatimestamp","rename":"dfatimestamp"},
                                    {"name":"publication_table.insert_year","rename":"insert_year"},
                                    {"name":"publication_table.insert_month","rename":"insert_month"},
                                    {"name":"publication_table.insert_date","rename":"insert_date"},
                                    {"name":"publication_table.sitecode","rename":"sitecode"}])

## STEP 2 : Define function in charge of appending a table to another in CAS

In [22]:
def append_filling_data(targetTable, incrementTable):
    appendcode="data '"+targetTable+"'(APPEND=YES); set '"+incrementTable+"'; run;"
    sess.dataStep.runCode(appendcode)

## STEP 3 : Drop exiting final table

In [23]:
#sess.columninfo(table=dict(name="LHA_FULL",caslib="PUBLIC"))
sess.droptable(name="LHA_FULL", caslib="CASUSER", quiet="true")
sess.droptable(name="LHA_FULL", caslib="PUBLIC", quiet="true")
sess.droptable(name="LHA_FULL_CLEAN", caslib="PUBLIC", quiet="true")

+ Elapsed: 0.00125s, user: 0.00063s, mem: 0.264mb

## STEP 4 : IMPORT FIRST FILLING DATA FILE

In [24]:
import_filling_data(csvfilelist[3], "LHA_FULL")
#sess.columninfo(table=dict(name="LHA_FULL",caslib="CASUSER"))

Uploading file : LHA-0421-0426.csv into cas in-memory table : LHA_FULL
NOTE: Cloud Analytic Services made the uploaded file available as table LHA_FULL in caslib CASUSER(viyademo01).
NOTE: The table LHA_FULL has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.

## STEP 5 : IMPORT ALL FILLING DATA FILE

In [25]:
#for i in range(1,len(csvfilelist)):

for i in range(4,len(csvfilelist)):
    sess.droptable(table="TMP_LHA", quiet="true")
    import_filling_data(csvfilelist[i], "TMP_LHA")
    append_filling_data("LHA_FULL", "TMP_LHA")

Uploading file : LHA-0501-0506.csv into cas in-memory table : TMP_LHA
NOTE: Cloud Analytic Services made the uploaded file available as table TMP_LHA in caslib CASUSER(viyademo01).
NOTE: The table TMP_LHA has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
Uploading file : LHA-0507-0512.csv into cas in-memory table : TMP_LHA
NOTE: Cloud Analytic Services made the uploaded file available as table TMP_LHA in caslib CASUSER(viyademo01).
NOTE: The table TMP_LHA has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
Uploading file : LHA-0513-0520.csv into cas in-memory table : TMP_LHA
NOTE: Cloud Analytic Services made the uploaded file available as table TMP_LHA in caslib CASUSER(viyademo01).
NOTE: The table TMP_LHA has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
Uploading file : LHA-0520-0523.csv into cas in-memory table : TMP_LHA
NOTE: Cloud Analytic Services made the uploaded file available as table TMP_LHA in caslib CASUSER(viyademo01).
NOTE: The table TMP_LHA has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
Uploading file : LHA-0524-0527-clean.csv into cas in-memory table : TMP_LHA
NOTE: Cloud Analytic Services made the uploaded file available as table TMP_LHA in caslib CASUSER(viyademo01).
NOTE: The table TMP_LHA has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
Uploading file : LHA-0528-0601.csv into cas in-memory table : TMP_LHA
NOTE: Cloud Analytic Services made the uploaded file available as table TMP_LHA in caslib CASUSER(viyademo01).
NOTE: The table TMP_LHA has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
Uploading file : LHA-0602-0605.csv into cas in-memory table : TMP_LHA
NOTE: Cloud Analytic Services made the uploaded file available as table TMP_LHA in caslib CASUSER(viyademo01).
NOTE: The table TMP_LHA has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.
Uploading file : LHA-0605-0610.csv into cas in-memory table : TMP_LHA
NOTE: Cloud Analytic Services made the uploaded file available as table TMP_LHA in caslib CASUSER(viyademo01).
NOTE: The table TMP_LHA has been created in caslib CASUSER(viyademo01) from binary data uploaded to Cloud Analytic Services.

## STEP 6 : Promote the full in-memory table for other users

In [26]:
sess.promote(name="LHA_FULL", targetCaslib="PUBLIC")

+ Elapsed: 0.618s, user: 0.0215s, sys: 0.596s, mem: 0.276mb

## STEP 7 : Save the in-memory table on disk to secure the process

In [27]:
sess.table.save(table=dict(name='LHA_FULL', caslib='PUBLIC'), caslib='PUBLIC', name='LHA_FULL.sashdat', replace=True)

NOTE: Cloud Analytic Services saved the file LHA_FULL.sashdat in caslib Public.

[caslib]

 'Public'

[name]

 'LHA_FULL.sashdat'

+ Elapsed: 136s, user: 6.38s, sys: 25.4s, mem: 37.3mb

In [28]:
sess.table.columninfo(table=dict(name='LHA_FULL', caslib='PUBLIC'))

,Column,ID,Type,RawLength,FormattedLength,Format,NFL,NFD
0,inserttimestamp,1,double,8,16,DATETIME23.3,0,0
1,dfauai,2,varchar,10,10,,0,0
2,serveruai,3,varchar,10,10,,0,0
3,objectuai,4,varchar,10,10,,0,0
4,variablename,5,varchar,39,39,,0,0
5,sourcetimestamp,6,double,8,16,DATETIME23.3,0,0
6,sourcepicoseconds,7,double,8,12,,0,0
7,datavalue,8,varchar,24,24,,0,0
8,variableunit,9,varchar,7,7,,0,0
9,subscriptiontype,10,varchar,5,5,,0,0
10,dfamsgid,11,double,8,12,,0,0
11,servernodeid,12,varchar,153,153,,0,0
12,serverhashcode,13,varchar,32,32,,0,0
13,objecttype,14,varchar,14,14,,0,0
14,relativebnpath,15,varchar,148,148,,0,0
15,datatype,16,varchar,8,8,,0,0
16,arraytype,17,varchar,6,6,,0,0
17,statusvalue,18,double,8,12,,0,0
18,statusdescription,19,varchar,59,59,,0,0
19,statusname,20,varchar,15,15,,0,0
20,servertimestamp,21,double,8,16,DATETIME23.3,0,0
21,serverpicoseconds,22,double,8,12,,0,0
22,logtimestamp,23,double,8,16,DATETIME23.3,0,0
23,dfatimestamp,24,double,8,16,DATETIME23.3,0,0
24,insert_year,25,double,8,12,,0,0
25,insert_month,26,double,8,12,,0,0
26,insert_date,27,double,8,12,YYMMDD10.,0,0
27,sitecode,28,varchar,5,5,,0,0

## STEP 8 : Extract data from RELATIVEBNPATH (different topology)
+ Extract data for CARS (PJI)
OUTPUT LHA_FULL_CLEAN LHA_VEHICLE

In [29]:
dscode='''data LHA_FULL_CLEAN LHA_VEHICLE(keep=machine capteur vehicle_id sourcetimestamp); 
    set PUBLIC.LHA_FULL;
    by sourcetimestamp;
    LENGTH datavalue_char $ 10 machine $ 40 step $ 40 capteur $ 40 groupe_capteur $ 40 vehicle_id $ 40;
       
    if datepart(sourcetimestamp) > '24APR2019'd;
    
    /* ne gardons que les lignes avec infos sur affectations machines */
    if find(relativebnpath,"FillingStation_")>0;
    
    /* pas besoin des data NULL */
    if datavalue ne 'NULL';
    
    /* on écarte les Name=station physique ou a lieu l'opération, info deja connue */
    if scan(relativebnpath, 8, "/") ne "Name";
    
    if lowcase(objecttype)="udc" then
    do;
        if scan(relativebnpath, 4, "/")="FillingStationList" then
        do;
            machine=scan(relativebnpath, 5, "/");
            groupe_capteur=scan(relativebnpath, 6, "/");
            capteur=scan(relativebnpath, 7, "/");
            step=scan(relativebnpath, 10, "/");

            if datavalue in ('true','false') then
                datavalue_char=datavalue;
                
            else if groupe_capteur="ParameterSet" then 
                vehicle_id=datavalue;
                
            else if notdigit(compress(datavalue))=0 then
                datavalue_Num=input(datavalue, 10.);
        end;

        if scan(relativebnpath, 3, "/")="ParameterSet" then
        do;
            groupe_capteur=scan(relativebnpath, 2, "/");
            step=scan(relativebnpath, 6, "/");
            datavalue_NUM=input(datavalue, 10.);
        end;
        
              /*
        if scan(relativebnpath, 6, "/")="ParameterSet" then
        do;
            if step="ID" then
                vehicle_id=datavalue;
        end;
        if scan(relativebnpath, 5, "/") ne "ParameterSet" then output;
        */
    end; /* end UDC */


    if lowcase(objecttype) ne "udc" then 

        if scan(relativebnpath,2,"/")="FillingStationList" then
            do;
                machine=scan(relativebnpath,3,"/");
                groupe_capteur=scan(relativebnpath,4,"/");
                capteur=scan(relativebnpath,5,"/");
                step=scan(relativebnpath,8,"/");

                if datavalue in ('true','false') then
                datavalue_char=datavalue;
                
            else if groupe_capteur="ParameterSet" then 
                vehicle_id=datavalue;
                
            else if notdigit(compress(datavalue))=0 then
                datavalue_Num=input(datavalue, 10.);

          end;

if substr(step,1,3) ne "Cmd";
if vehicle_id = . then output LHA_FULL_CLEAN;
else output LHA_VEHICLE;

run;'''
sess.dataStep.runCode(dscode)

NOTE: Character values have been converted to numeric values at the places given by: (Line):(Column).
      9:244
NOTE: Duplicate messages output by DATA step:
NOTE: Character values have been converted to numeric values at the places given by: (Line):(Column).  (occurred 32 times)
      9:244  (occurred 32 times)

[InputCasTables]

    casLib      Name      Rows  Columns                               casTable
 0  Public  LHA_FULL  40581661       28  CASTable('LHA_FULL', caslib='Public')

[OutputCasTables]

                 casLib            Name      Rows  Columns  Append  \
 0  CASUSER(viyademo01)  LHA_FULL_CLEAN  22082444       35     NaN
 1  CASUSER(viyademo01)     LHA_VEHICLE     20682        4     NaN

                                             casTable
 0  CASTable('LHA_FULL_CLEAN', caslib='CASUSER(viy...
 1  CASTable('LHA_VEHICLE', caslib='CASUSER(viyade...

+ Elapsed: 246s, user: 852s, sys: 55.4s, mem: 59.4mb

## STEP 9 : promote table for others users
not absolutely necessary

In [30]:
sess.droptable(name="LHA_FULL_CLEAN", caslib="PUBLIC", quiet="true")
sess.promote(name="LHA_FULL_CLEAN", targetCaslib="PUBLIC")
sess.table.save(table=dict(name='LHA_FULL_CLEAN', caslib='PUBLIC'), caslib='PUBLIC', name='LHA_FULL_CLEAN.sashdat', replace=True)

NOTE: Cloud Analytic Services saved the file LHA_FULL_CLEAN.sashdat in caslib Public.

[caslib]

 'Public'

[name]

 'LHA_FULL_CLEAN.sashdat'

+ Elapsed: 144s, user: 4.63s, sys: 17.2s, mem: 34mb

## Step 10 : create 2 columns for each PJI --> time stamp start et end

In [31]:
dscode= '''
data lha_vehicle2;
    set lha_vehicle(rename=(vehicle_id=vehicle_id_orig));
    by machine sourcetimestamp;
    
    format sourcetimestamp_start sourcetimestamp_end datetime23.3;
    retain sourcetimestamp_start vehicle_id;

    if vehicle_id_orig ne "0" then do;
    sourcetimestamp_start=sourcetimestamp;
    vehicle_id=vehicle_id_orig;
    end;
    if vehicle_id_orig = "0" then do;
    sourcetimestamp_end=sourcetimestamp;
    output;
end;
drop vehicle_id_orig;
run;
'''

sess.dataStep.runCode(dscode)

[InputCasTables]

                 casLib         Name   Rows  Columns  \
 0  CASUSER(viyademo01)  lha_vehicle  20682        4

                                             casTable
 0  CASTable('lha_vehicle', caslib='CASUSER(viyade...

[OutputCasTables]

                 casLib          Name   Rows  Columns  Append  \
 0  CASUSER(viyademo01)  lha_vehicle2  10334        6     NaN

                                             casTable
 0  CASTable('lha_vehicle2', caslib='CASUSER(viyad...

+ Elapsed: 0.103s, user: 0.175s, sys: 0.0188s, mem: 8.2mb

In [32]:
sess.table.columninfo(table=dict(name="LHA_FULL_CLEAN",caslib="PUBLIC"))

,Column,ID,Type,RawLength,FormattedLength,Format,NFL,NFD
0,inserttimestamp,1,double,8,16,DATETIME23.3,0,0
1,dfauai,2,varchar,10,10,,0,0
2,serveruai,3,varchar,10,10,,0,0
3,objectuai,4,varchar,10,10,,0,0
4,variablename,5,varchar,30,30,,0,0
5,sourcetimestamp,6,double,8,16,DATETIME23.3,0,0
6,sourcepicoseconds,7,double,8,12,,0,0
7,datavalue,8,varchar,14,14,,0,0
8,variableunit,9,varchar,7,7,,0,0
9,subscriptiontype,10,varchar,5,5,,0,0
10,dfamsgid,11,double,8,12,,0,0
11,servernodeid,12,varchar,143,143,,0,0
12,serverhashcode,13,varchar,32,32,,0,0
13,objecttype,14,varchar,14,14,,0,0
14,relativebnpath,15,varchar,142,142,,0,0
15,datatype,16,varchar,7,7,,0,0
16,arraytype,17,varchar,6,6,,0,0
17,statusvalue,18,double,8,12,,0,0
18,statusdescription,19,varchar,8,8,,0,0
19,statusname,20,varchar,4,4,,0,0
20,servertimestamp,21,double,8,16,DATETIME23.3,0,0
21,serverpicoseconds,22,double,8,12,,0,0
22,logtimestamp,23,double,8,16,DATETIME23.3,0,0
23,dfatimestamp,24,double,8,16,DATETIME23.3,0,0
24,insert_year,25,double,8,12,,0,0
25,insert_month,26,double,8,12,,0,0
26,insert_date,27,double,8,8,YYMMDD10.,0,0
27,sitecode,28,varchar,5,5,,0,0
28,datavalue_char,29,char,10,10,,0,0
29,machine,30,char,40,40,,0,0
30,step,31,char,40,40,,0,0
31,capteur,32,char,40,40,,0,0
32,groupe_capteur,33,char,40,40,,0,0
33,vehicle_id,34,char,40,40,,0,0
34,datavalue_Num,35,double,8,12,,0,0

In [33]:
sess.droptable(name="LHA_VEHICLE2", caslib="PUBLIC", quiet="true")
sess.promote(name="LHA_VEHICLE2", targetCaslib="PUBLIC")

+ Elapsed: 0.00225s, user: 0.000177s, sys: 0.00198s, mem: 0.32mb

## Step 11 : FedSQL to join the vehicle table and all others data

In [34]:
sess.fedsql.execdirect(
    query="create table LHA_FULL_CLEAN_Vehicle as select T1.variablename, T1.datavalue, T1.machine, T1.groupe_capteur, T1.capteur, T1.sourcetimestamp, T1.datavalue_Num, T1.datavalue_Char, T1.Step, T1.SiteCode ,T2.vehicle_id from PUBLIC.LHA_FULL_CLEAN as T1, PUBLIC.LHA_VEHICLE2 as T2 where T1.machine=T2.machine and T1.sourcetimestamp>T2.sourcetimestamp_start and T1.sourcetimestamp<=T2.sourcetimestamp_end")

NOTE: Table LHA_FULL_CLEAN_VEHICLE was created in caslib CASUSER(viyademo01) with 19101528 rows returned.

+ Elapsed: 596s, user: 1.61e+04s, sys: 6.48s, mem: 201mb

In [35]:
sess.droptable(name="LHA_FULL_CLEAN_Vehicle", caslib="PUBLIC", quiet="true")
sess.promote(name="LHA_FULL_CLEAN_Vehicle", targetCaslib="PUBLIC")

+ Elapsed: 0.141s, user: 0.00661s, sys: 0.134s, mem: 0.293mb

## Step 12 : create the differents STEP by machine, asset
### 2 outputs : casuser.Which_Step & casuser.resume_Step

In [44]:
dscode= '''data casuser.Which_Step
casuser.resume_Step(keep=machine groupe_capteur capteur step datavalue 
duration_step count_in_the_step step_number );

drop sitecode datavalue_char;
format duration_step 10.1 sourcetimestamp step_start_dt step_end_dt datetime22.3;

length machine groupe_capteur capteur step step_in_progress $ 40 datavalue_NUM 8 step_start_dt 8;
set PUBLIC.LHA_FULL_CLEAN_VEHICLE;
retain step_in_progress "nothing_in_progress" step_start_dt ;

by machine groupe_capteur capteur sourcetimestamp step;

/* changement de machine groupe_capteur ou de capteur */
    break=last.capteur;

/* START step */
        if datavalue="true" and step_in_progress="nothing_in_progress" then
do;
/* objectif : avoir le nom de la step jusqu'à la fin */
        step_in_progress=variablename;
        step_start_dt=sourcetimestamp;
        step_number+1;
        count_in_the_step=0;
        count_in_the_step+1;
        output casuser.Which_Step;
        end;

/* END normal Step*/
        else if datavalue="false" and variablename=step_in_progress then
        do;
        step_end_dt=sourcetimestamp;
        duration_step=step_end_dt-step_start_dt;
        ligne_en_plus="ENDSTEP_"!!step_in_progress;
        step_in_progress="nothing_in_progress";

        output casuser.Which_Step;
        output casuser.resume_step;

        count_in_the_step=0;
        step_number+1;
        end;

/* debut d'une step sans END pour la step d'avant */
/* alors arrêt implicite de la Step */
        else if datavalue="true" and variablename ne "nothing_in_progress" then
        do;
        step_end_dt=sourcetimestamp;
        duration_step=step_end_dt-step_start_dt;
        datavalue="false";
        ligne_en_plus="ENDSTEP_"!!step_in_progress;
        step_in_progress="nothing_in_progress";

        output casuser.Which_Step;
        output casuser.resume_step;

/* ecriture d'une ligne en plus pour rendre la table propre / fin de phase */
        datavalue="true";
        step_end_dt=.;
        duration_step=.;
        ligne_en_plus="";
        count_in_the_step=0;
        step_in_progress=variablename;
        step_start_dt=sourcetimestamp;
        step_number+1;
        output casuser.Which_Step;
        end;

    /* END Step / alors que pas de début !!!
    if datavalue="false" and variablename ne step_in_progress then
    do;
    step_end_dt=sourcetimestamp;
    duration_step=step_end_dt-step_start_dt;
    output;
    end;
    */

/* cas d'un changement de capteur sans false ou true pour les step... */

/* et également le cas ou la nouvelle date est inférieure à celle de la ligne précédente = 
changement de sujet/ de groupe */
        else if (last.capteur=1 and machine ne "") or (sourcetimestamp<lag(sourcetimestamp) and machine ne "")then
        do;
        step_end_dt=sourcetimestamp;
        duration_step=step_end_dt-step_start_dt;
        datavalue="false";
        ligne_en_plus="ENDSTEP_"!!step_in_progress;
        step_in_progress="nothing_in_progress";

        output casuser.Which_Step;
        output casuser.resume_step;

/* ecriture d'une ligne en plus pour rendre la table propre / fin de phase */
        datavalue="true";
        step_end_dt=.;
        duration_step=.;
        ligne_en_plus="";
        count_in_the_step=-1;
        *datavalue_sum=0;
        step_number+1;
        step_in_progress=variablename;
        step_start_dt=sourcetimestamp;
        output casuser.Which_Step;
        end;
        else if (step_number ne 0)
        and not(datavalue="false" and variablename="nothing_in_progress")
/* on n'écrit pas si False alors que pas de true */
    then

/* dernier cas ici pour les step avec datavalue / data des capteurs en fait */
    do;
    count_in_the_step+1;
    output casuser.Which_Step;
    end;

run;'''


sess.dataStep.runCode(dscode)

[InputCasTables]

    casLib                    Name      Rows  Columns  \
 0  Public  LHA_FULL_CLEAN_VEHICLE  19101528       11

                                             casTable
 0  CASTable('LHA_FULL_CLEAN_VEHICLE', caslib='Pub...

[OutputCasTables]

                 casLib         Name      Rows  Columns  Append  \
 0  CASUSER(viyademo01)   Which_Step  19297926       17     NaN
 1  CASUSER(viyademo01)  resume_Step    349413        8     NaN

                                             casTable
 0  CASTable('Which_Step', caslib='CASUSER(viyadem...
 1  CASTable('resume_Step', caslib='CASUSER(viyade...

+ Elapsed: 297s, user: 333s, sys: 12.6s, mem: 28.5mb

## STEP 13 : clean the different step and create step number

In [47]:
dscode= '''

data casuser.Which_Step_clean2;

set casuser.Which_Step
    (rename=(step=step_task step_in_progress=step)) ;

    if duration_step = .;
    if step_task ne "";
    if step ne "ActLoadingPressure";
    if step ne "ActVacuum";
    if substr(step_task,1,4) ne "Step";
    *if capteur ne "ID";
    if step ne "nothing_in_progress";
    if datavalue not in ("false" "true");

step_nb=compress("step_"!!step_number);
drop step_end_dt ligne_en_plus 
         datavalue step_start_dt break step_end_dt 
         ligne_en_plus;
run;'''
sess.dataStep.runCode(dscode)

NOTE: Numeric values have been converted to character values at the places given by: (Line):(Column).
      1:144
NOTE: Duplicate messages output by DATA step:
NOTE: Numeric values have been converted to character values at the places given by: (Line):(Column).  (occurred 32 times)
      1:144  (occurred 32 times)

[InputCasTables]

                 casLib        Name      Rows  Columns  \
 0  CASUSER(viyademo01)  Which_Step  19297926       17

                                             casTable
 0  CASTable('Which_Step', caslib='CASUSER(viyadem...

[OutputCasTables]

                 casLib               Name      Rows  Columns  Append  \
 0  CASUSER(viyademo01)  Which_Step_clean2  18164522       13     NaN

                                             casTable
 0  CASTable('Which_Step_clean2', caslib='CASUSER(...

+ Elapsed: 3.21s, user: 59.9s, sys: 6.34s, mem: 65.8mb

## STEP 14 : last merge / data / step / PJI, etc...

In [48]:
dscode= '''
data casuser.RENAULT_ALL;
    merge casuser.resume_step (where=(count_in_the_step ne -1) keep=duration_step count_in_the_step step_number in=resume)
        casuser.which_step_clean2 (drop=duration_step count_in_the_step in=clean);
    by step_number;

    if resume and clean;
drop step_number;
run;'''
sess.dataStep.runCode(dscode)

NOTE: MERGE statement has more than one data set with repeats of BY values.
NOTE: Duplicate messages output by DATA step:
NOTE: MERGE statement has more than one data set with repeats of BY values.  (occurred 32 times)

[InputCasTables]

                 casLib               Name      Rows  Columns  \
 0  CASUSER(viyademo01)        resume_step    349407        8
 1  CASUSER(viyademo01)  which_step_clean2  18164522       13

                                             casTable
 0  CASTable('resume_step', caslib='CASUSER(viyade...
 1  CASTable('which_step_clean2', caslib='CASUSER(...

[OutputCasTables]

                 casLib         Name      Rows  Columns  Append  \
 0  CASUSER(viyademo01)  RENAULT_ALL  18166760       12     NaN

                                             casTable
 0  CASTable('RENAULT_ALL', caslib='CASUSER(viyade...

+ Elapsed: 60.2s, user: 99.5s, sys: 13.2s, mem: 86.9mb

## Step 15 : promote to share data in PUBLIC

In [49]:
sess.droptable(name="RENAULT_ALL", caslib="PUBLIC", quiet="true")
sess.promote(name="RENAULT_ALL", targetCaslib="PUBLIC")
sess.table.save(table=dict(name='RENAULT_ALL', caslib='PUBLIC'), caslib='PUBLIC', name='RENAULT_ALL.sashdat', replace=True)

NOTE: Cloud Analytic Services saved the file RENAULT_ALL.sashdat in caslib Public.

[caslib]

 'Public'

[name]

 'RENAULT_ALL.sashdat'

+ Elapsed: 37.8s, user: 1.31s, sys: 5.47s, mem: 21.6mb

In [40]:
sess.terminate()